openapi: 3.1.0
info:
  title: Microsoft Power BI REST Apps Groups API
  description: Minimal OpenAPI definition for the Power BI REST API covering common operations on datasets, reports, dashboards, groups (workspaces), gateways, apps, capacities, dataflows, imports, and embed tokens.
  version: v1.0
  x-generated-from: https://learn.microsoft.com/en-us/rest/api/power-bi/
  x-generated-by: claude-crawl-2026-05-08
servers:
- url: https://api.powerbi.com/v1.0/myorg
  description: Power BI REST API base URL (current user / 'My workspace' scope)
security:
- bearerAuth: []
tags:
- name: Groups
paths:
  /groups:
    get:
      tags:
      - Groups
      summary: Get Groups (workspaces)
      operationId: getGroups
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericList'
    post:
      tags:
      - Groups
      summary: Create Group (workspace)
      operationId: createGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
      responses:
        '200':
          description: OK
  /groups/{groupId}:
    parameters:
    - in: path
      name: groupId
      required: true
      schema:
        type: string
    delete:
      tags:
      - Groups
      summary: Delete Group
      operationId: deleteGroup
      responses:
        '200':
          description: OK
components:
  schemas:
    GenericList:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/GenericObject'
      additionalProperties: true
    GenericObject:
      type: object
      additionalProperties: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
