openapi: 3.1.0
info:
  title: Microsoft Power BI REST Apps Reports API
  description: Minimal OpenAPI definition for the Power BI REST API covering common operations on datasets, reports, dashboards, groups (workspaces), gateways, apps, capacities, dataflows, imports, and embed tokens.
  version: v1.0
  x-generated-from: https://learn.microsoft.com/en-us/rest/api/power-bi/
  x-generated-by: claude-crawl-2026-05-08
servers:
- url: https://api.powerbi.com/v1.0/myorg
  description: Power BI REST API base URL (current user / 'My workspace' scope)
security:
- bearerAuth: []
tags:
- name: Reports
paths:
  /reports:
    get:
      tags:
      - Reports
      summary: Get Reports
      operationId: getReports
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericList'
  /reports/{reportId}:
    parameters:
    - $ref: '#/components/parameters/ReportId'
    get:
      tags:
      - Reports
      summary: Get Report
      operationId: getReport
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
    delete:
      tags:
      - Reports
      summary: Delete Report
      operationId: deleteReport
      responses:
        '200':
          description: OK
  /reports/{reportId}/Clone:
    parameters:
    - $ref: '#/components/parameters/ReportId'
    post:
      tags:
      - Reports
      summary: Clone Report
      operationId: cloneReport
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
      responses:
        '200':
          description: OK
  /reports/{reportId}/ExportTo:
    parameters:
    - $ref: '#/components/parameters/ReportId'
    post:
      tags:
      - Reports
      summary: Export To File
      operationId: exportToFile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
      responses:
        '202':
          description: Accepted
  /groups/{groupId}/reports:
    parameters:
    - in: path
      name: groupId
      required: true
      schema:
        type: string
    get:
      tags:
      - Reports
      summary: Get Reports In Group
      operationId: getReportsInGroup
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericList'
components:
  schemas:
    GenericList:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/GenericObject'
      additionalProperties: true
    GenericObject:
      type: object
      additionalProperties: true
  parameters:
    ReportId:
      in: path
      name: reportId
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
